absl-py==2.1.0
asgiref==3.10.0
astunparse==1.6.3
blinker==1.8.2
certifi==2024.12.14
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
comtypes==1.4.9
demjson==2.2.4
Django==5.2.7
djangorestframework==3.16.1
dlib @ file:///C:/Users/vivek/AppData/Local/Programs/Python/Python310/Scripts/dlib-19.22.99-cp310-cp310-win_amd64.whl#sha256=f2181b6724669fb0147c9ebc326d72b94de41bced1812eff5df4b133b5d0b575
face-recognition==1.3.0
face_recognition_models==0.3.0
Flask==3.0.3
Flask-Mail==0.10.0
flatbuffers==24.12.23
gast==0.6.0
google-pasta==0.2.0
grpcio==1.69.0
h5py==3.12.1
idna==3.10
imutils==0.5.4
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
keras==3.8.0
libclang==18.1.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
ml-dtypes==0.4.1
mysql-connector==2.2.9
mysql-connector-python==9.5.0
namex==0.0.8
numpy==2.0.2
opencv-python==4.10.0.84
opt_einsum==3.4.0
optree==0.14.0
packaging==24.2
pillow==11.0.0
protobuf==5.29.3
Pygments==2.19.1
pypiwin32==223
pyttsx3==2.98
pywin32==308
PyYAML==6.0.2
requests==2.32.3
rich==13.9.4
scikit-learn==1.6.0
scipy==1.14.1
six==1.17.0
sqlparse==0.5.3
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow-io-gcs-filesystem==0.31.0
tensorflow_intel==2.18.0
termcolor==2.5.0
threadpoolctl==3.5.0
typing_extensions==4.12.2
tzdata==2025.2
urllib3==2.2.3
Werkzeug==3.0.3
wrapt==1.17.2
